<p>
  <%= @question.body %>
</p>

<%= link_to "Yes", new_quiz_path(:questions => params[:questions].merge(@question.id => true)) %>
<%= link_to "No", new_quiz_path(:questions => params[:questions].merge(@question.id => false)) %>

